  <nav>
        <div class="logo">
            <h4><a href="/">Mongo Scraper</a></h4>
        </div>
        <ul class="nav-links">
            <li><a href="/savedArticles">Saved Articles</a></li>
            <li><a class="scrape-button" href="/api/scrape">Mongo Scrape!</a></li>
            <li><a class="clear-button" href="/api/clear">Mongo Clear!</a></li>
        </ul>
        <div class="burger">
            <div class="line1">

            </div>
            <div class="line2">

            </div>
            <div class="line3">

            </div>

    </nav>
 <div class="hero">
       <h1>Scraped articles view</h1> 
    </div>
    <article id="main">
        <h2 style="text-align:center;">Node.js Express scraper utilizing Axios, Cheerio and MongoDB</h2>
        <section class="row">
            {{#each articles}}
            <div>
            <h3><a href="{{link}}">{{title}}</a></h3>
            <p>Note:<br>
            <div id="noteAreaTitle" data-id="{{_id}}">{{note.title}}</div>
            <div id="noteAreaBody" data-id="{{_id}}">{{note.body}}</div></p>
            <button data-id={{_id}} class="saveButton" id="saveArticle">Save Article</button>
            <button data-id={{_id}} class="addNoteButton" id="createNote">Create Note</button>
            <div id="noteTaker" data-id="{{_id}}" style="display:none;">
                <input id="titleInput" name='title'>
                <textarea id="bodyInput" name='body'></textarea>
                </div>
            </div>
            </div>
            {{/each}}
          
        </section>
    </article>